// @media screen and (max-width: 1367px) {
//   nav {
//     padding: 0 $p_md;
//   }

//   #home {
//     height: 100vh;
//     > section {
//       &:first-of-type {
//         padding-left: $p_md;
//         > div aside {
//           width: 85%;
//         }
//       }
//     }
//   }
//   #about > section {
//     > h1 {
//       font-size: 1.8rem;
//       margin-top: 40px;
//     }
//     > p {
//       font-size: 24px;
//       margin-left: 30px;
//       margin-right: 30px;
//     }
//     .sdr {
//       height: 250px;
//     }
//     .sd-track {
//       width: calc(150px * 8);
//     }
//     .sd {
//       height: 80px;
//     }
//   }


//   #experience {
//     padding: 50px;
//   }
  
//   .section {
//     padding: 20px;
//   }
  
//   .section h1 {
//     font-size: 1.4rem;
//   }

//   #projects {
//     padding: 8rem $p_md;
//     height: 110vh;
//     > section {
//       > article {
//         height: 20rem;
//         width: 90%;
//       }
//       .workItem {
//         padding: 2rem;
//         height: 20rem;
//         > aside {
//           > p {
//             margin: 1rem;
//           }
//           > a {
//             margin: 1rem;
//           }
//         }
//       }
//     }
//   }
//   #position h1 {
//     font-size: 1.5rem;
//     padding: 50px;
//   }

//   .section1 {
//     height: 25vh;
//   }

//   .section1 > div {
//     width: 80%;
//     padding: 1.5rem;
//   }

//   .section1 img {
//     width: 30%;
//     height: 150px;
//   }

//   .section1 h2 {
//     font-size: 1rem;
//     margin-bottom: 2rem;
//     padding: 1.5rem;
//   }
// }


// #contact > section > form {
//   > input,
//   > button {
//     font: 400 0.8rem $text1;
//     width: 50%;
//   }
// }

//   footer {
//     padding-left: $p_md;
//   }


// @media screen and (max-width: 1100px) {
//   nav {
//     padding: 0 $p_base;
//   }

//   #home {
//     height: 110vh;
//     > section {
//       &:first-of-type {
//         padding-left: $p_base;
//         >div {
//           > h1 {
//             font: 900 3rem $text1;
//           }

//           aside {
//             width: 100%;
//           }
//         }
//       }
//     }
//   }
//   #about > section > h1 {
//     font-size: 1.8rem;
//     margin-top: 40px;
//   }
  
//   #about > section > p {
//     font-size: 22px;
//     margin-left: 30px;
//     margin-right: 30px;
//   }
  
//   #about > section .sdr {
//     height: 250px;
//   }
  
//   #about > section .sd-track {
//     width: calc(150px * 8);
//   }
  
//   #about > section .sd {
//     height: 80px;
//   }
// }
// I
// #experience {
//   padding: 50px;
// }

// .section {
//   padding: 20px;
// }

// .section h1 {
//   font-size: 1.4rem;
// }

// ul {
//   margin-left: 20px;
// }

// .section div {
//   margin-right: 10px;
// }


// #projects {
//   padding: 8rem $p_zero;
//   > section {
//     > article {
//       height: 25rem;
//     }
//     .workItem {
//       height: 25rem;
//     }
//   }
// }
// #position h1 {
//   font-size: 1.5rem;
//   padding: 50px;
// }

// .section1 {
//   height: 25vh;
// }

// .section1 > div {
//   width: 80%;
//   padding: 1.5rem;
// }

// .section1 img {
//   width: 30%;
//   height: 150px;
// }

// .section1 h2 {
//   font-size: 1rem;
//   margin-bottom: 2rem;
//   padding: 1.5rem;
// }
// .section1 p{
//   font-size: 0.8rem;
// }

// #contact > section > form {
//   > h2 {
//     font: 100 2.3rem $text2;
//   }
//   > input,
//   > button {
//     width: 65%;
//   }
// }
//   footer {
//     padding-left: $p_md;
//   }

  @media screen and (max-width: 900px) {
    nav {
      padding: 0 $p_sm;
      >h2{font-size: 1.8rem};
      >div{
        gap: 1rem;
      }
    }
  
    #home {
      height: 100vh;
      > section {
        &:first-of-type {
          padding-left: $p_sm;
          > div {
            gap: 2rem;
            width: 100%;
          }
          > div aside {
            width: 85%;
          }
        }
      }
    }
    #about > section {
      > h1 {
        font-size: 1.8rem;
        margin-top: 40px;
      }
      > p {
        font-size: 24px;
        margin-left: 30px;
        margin-right: 30px;
      }
      .sdr {
        height: 250px;
      }
      .sd-track {
        width: calc(150px * 8);
      }
      .sd {
        height: 80px;
      }
    }
  
  
    #experience {
      padding: 50px;
    }
    
    .section {
      padding: 20px;
    }
    
    .section h1 {
      font-size: 1.4rem;
    }
  
    #work {
      padding: 8rem $p_zero;
      > section {
        > article {
          height: 25rem;
        }
        .workItem {
          height: 25rem;
        }
      }
    }
    #position h1 {
      font-size: 1.2rem;
      padding: 30px;
    }
  
    .section1 {
      height: 20vh;
    }
  
    .section1 > div {
      width: 90%;
      padding: 3rem;
    }
  
    .section1 img {
      width: 40%;
      height: 150px;
    }
  
    .section1 h2 {
      font-size: 0.9rem;
      margin-bottom: 1.5rem;
      padding: 1rem;
    }
    .section1 p  {
      font-size: 0.8rem;
      
    }
  }
    #contact > section > form {
      > h2 {
        font: 100 2.3rem $text2;
      }
      > input,
      > button {
        width: 65%;
      }
    }
  
    footer {
      padding-left: $p_zero;
      grid-template-columns: 1fr;
      > div {
        width: 100%;
        border: none;
        p {
          width: 50%;
          margin: 2rem auto;
        }
      }
      > a {
        margin: 1rem;
      }
    }
    @media screen and (max-width: 786px) {
      nav {
        > div,
        > a {
          display: none;
        }
      }
      .navBtn {
        display: block;
      }
      #about > section > h1 {
        font-size: 1.5rem;
      }
      
      #about > section > p {
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
      }
      
      .sdr {
        height: 200px;
      }
      
      .sd {
        height: 80px;
        width: 120px;
        padding: 5px;
      }
      
      #position h1 {
        font-size: 1.2rem;
        padding: 30px;
      }
    
      .section1 {
        height: 20vh;
      }
    
      .section1 > div {
        width: 90%;
        padding: 3rem;
      }
    
      .section1 img {
        width: 40%;
        height: 150px;
      }
    
      .section1 h2 {
        font-size: 0.9rem;
        margin-bottom: 1.5rem;
        padding: 1rem;
      }
      .section1 p  {
        font-size: 0.6rem;
        
      }
    }
    @media screen and (max-width: 600px) {
      #home {
        height: unset;
        flex-direction: column-reverse;
    
        > section {
          &:first-of-type {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
    
            > div {
              border: none;
              padding-top: 3rem;
              margin-left: 2rem;
              > h1 {
                font: 900 2.5rem $text1;
              }
              > div {
                flex-direction: column;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
              
              > a{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
              margin-left: 110px;
              }
            }
              aside {
                align-items: center;
                justify-content: center;
              }
    
              article[data-special] {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                span {
                  display: block;
                  width: 70%;
                  word-wrap: break-word;
                }
              }
    
              article {
                width: 100%;
                text-align: center;
                &::after {
                  top: 0;
                  left: 0%;
                }
              }
            }
          }
    
          &:last-of-type {
            border: none;
          }
        }
    
        > svg {
          font-size: 2rem;
          bottom: 12%;
        }
        #about {
          flex-direction: column;
        }
      
        #about > section {
          height: auto;
          padding: 0;
        }
      
        #about > section > h1 {
          margin-top: 30px;
          font-size: 1.5rem;
        }
      
        #about > section > p {
          margin: 20px;
          font-size: 18px;
        }
      
        #about > section .sdr {
          height: auto;
        }
      
        #about > section .sd-track {
          width: 100%;
          animation: none;
          overflow-x: auto;
          scroll-snap-type: x mandatory;
          scrollbar-width: none;
          -ms-overflow-style: none;
        }
      
        #about > section .sd {
          height: 80px;
          width: 120px;
          margin-right: 10px;
        }
      
        #about > section img {
          border-radius: 3px;
        }
      }
      #experience {
        padding-top: 180px;
    
      }
      
      .section {
        padding: 30px;
      }
      
      .section h1 {
        font-size: 1.4rem;
      }
    
      #work {
        padding: 8rem $p_zero;
        > section {
          > article {
            height: 25rem;
          }
          .workItem {
            height: 25rem;
          }
        }
      }
      #projects {
      
        margin-top: 180px;
        >h2{
          margin-top: 180px;
          // padding: 2rem;
        }
        > section {
          > article {
            width: 100%;
            height: 30vmax;
            margin-top: 60px;
          }
          .workItem {
            height: 30vmax;
            box-shadow: 0 0 5px $color1;
            > aside {
              padding: 1rem;
    
              > h3 {
                margin: 1rem;
              }
    
              > p {
                letter-spacing: 0;
                line-height: unset;
                margin: 0%;
                font-size: 0.75rem;
              }
    
              > a {
                padding: 0.4rem 0.7rem;
                font-size: 0.7rem;
                margin: 1rem;
              }
            }
          }
        }
      }
      #position h1 {
        margin-top: 240px;
        font-size: 2rem;
        // padding: 90px;
        // margin-top: 110px;
      }
    
      .section1 {
        height: 30vh;
      }
    
      .section1 > div {
        width: 90%;
        padding: 1rem;
      }
    
      .section1 img {
        width: 40%;
        height: 150px;
      }
    
      .section1 h2 {
        font-size: 0.9rem;
        margin-bottom: 1.5rem;
        padding: 1rem;
      }
      .section1 p  {
        font-size: 0.5rem;
        
      }
    }
      
  #contact 
  {

    padding-left: 30px;
  }> section > form {
      > h2 {
        font: 100 2.3rem $text2;
      }
      > input,
      > button {
        width: 65%;
    padding-right: 50px;
      }
    }
  
    @media screen and (max-width: 477px) {
      #home {
        height: unset;
        flex-direction: column-reverse;
    
        > section {
          &:first-of-type {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
    
            > div {
              border: none;
              padding-top: 3rem;
              margin-left: 2rem;
              > h1 {
                font: 900 2.5rem $text1;
              }
              > div {
                flex-direction: column;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
              
              > a{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
              margin-left: 110px;
              }
            }
              aside {
                align-items: center;
                justify-content: center;
              }
    
              article[data-special] {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                span {
                  display: block;
                  width: 70%;
                  word-wrap: break-word;
                }
              }
    
              article {
                width: 100%;
                text-align: center;
                &::after {
                  top: 0;
                  left: 0%;
                }
              }
            }
          }
    
          &:last-of-type {
            border: none;
          }
        }
    
        > svg {
          font-size: 2rem;
          bottom: 12%;
        }
        #about {
          flex-direction: column;
        }
      
        #about > section {
          height: auto;
          padding: 0;
        }
      
        #about > section > h1 {
          margin-top: 30px;
          font-size: 1.5rem;
        }
      
        #about > section > p {
          margin: 20px;
          font-size: 18px;
        }
      
        #about > section .sdr {
          height: auto;
        }
      
        #about > section .sd-track {
          width: 100%;
          animation: none;
          overflow-x: auto;
          scroll-snap-type: x mandatory;
          scrollbar-width: none;
          -ms-overflow-style: none;
        }
      
        #about > section .sd {
          height: 80px;
          width: 120px;
          margin-right: 10px;
        }
      
        #about > section img {
          border-radius: 3px;
        }
      }
      #experience {
        padding-top: 280px;
    
      }
      
      .section {
        padding: 30px;
      }
      
      .section h1 {
        font-size: 1.4rem;
      }
    
      #work {
        padding: 8rem $p_zero;
        > section {
          > article {
            height: 25rem;
          }
          .workItem {
            height: 25rem;
          }
        }
      }
      #projects {
      
        margin-top: 280px;
        >h2{
          margin-top:480px;
          // padding: 2rem;
        }
        > section {
          > article {
            width: 100%;
            height: 30vmax;
            margin-top: 60px;
          }
          .workItem {
            height: 30vmax;
            box-shadow: 0 0 5px $color1;
            > aside {
              padding: 1rem;
    
              > h3 {
                margin: 1rem;
              }
    
              > p {
                letter-spacing: 0;
                line-height: unset;
                margin: 0%;
                font-size: 0.75rem;
              }
    
              > a {
                padding: 0.4rem 0.7rem;
                font-size: 0.7rem;
                margin: 1rem;
              }
            }
          }
        }
      }
      #position h1 {
        padding-top: 300px;
        margin-top: 600px;
        font-size: 1.6rem;
        // padding: 90px;
        // margin-top: 110px;
      }
    
      .section1 {
        height: 20vh;
      }
    
      .section1 > div {
        width: 130%;
        padding: 1rem;
      }
    
      .section1 img {
        width: 40%;
        height: 150px;
      }
    
      .section1 h2 {
        font-size: 0.9rem;
        margin-bottom: 1.5rem;
        padding: 1rem;
      }
      .section1 p  {
        font-size: 0.3rem;
        
        
      }
    }
      
  #contact 
  {
    // padding-top: 300px;
    // padding-right: 100px;
  }> section > form {
      > h2 {
        font: 100 2.3rem $text2;
      }
      > input,
      > button {
        width: 65%;
    padding-right: 50px;
      }
    }
  
  